@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-15 blockquote,
#chapter-19 blockquote,
#chapter-21 blockquote,
#chapter-22 blockquote,
#chapter-23 blockquote,
#chapter-25 blockquote,
#chapter-39-4 blockquote{
	font-style: italic;
}

#chapter-15 blockquote i{
	font-style: normal;
}

#chapter-19-2 blockquote:nth-of-type(3){
	font-style: normal;
	font-variant: small-caps;
}

#chapter-19-2 blockquote:nth-of-type(3) span:nth-of-type(2){
	margin-left: 1em;
}

#chapter-19-2 blockquote:nth-of-type(3) span:nth-of-type(3){
	margin-left: 2em;
}

#chapter-23 blockquote,
#chapter-36 blockquote{
	text-align: center;
}

#chapter-23 blockquote p:nth-child(4){
	margin-top: 1em;
}

#chapter-23-3 blockquote p:last-child{
	margin-top: 1em;
}

#chapter-36 blockquote p{
	text-align: initial;
}

#chapter-39-1 blockquote{
	margin-left: auto;
	margin-right: auto;
	max-width: 20em;
}

#chapter-23 blockquote p,
#chapter-39-1 blockquote p{
	text-align: center;
	text-indent: 0;
}

#chapter-39 blockquote footer p{
	font-style: italic;
	text-align: right;
}

[epub|type~="acknowledgments"]{
	margin-top: 20vh;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"],
[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}
